<h1>編集画面</h1>
<span>現在ログイン中のユーザー：<%= current_user.name %></span>
<%= button_to "削除", user_step_log_path(@user_step_log), method: :delete, class: "command" %>

<%= render "favorites/favorite" %>

<%= form_for @user_step_log do |f| %>
    <div>
        <%= f.label :steps %><br>
        <%= f.text_field :steps, autofocus: true, :placeholder =>"#{@user_step_log.steps}" %>
    </div>
    <div><%= f.submit "更新する" %></div>
<% end %>