<span class="user_step_log_title">
	投稿一覧
</span>
<% if user_signed_in? %>
	<div class="function">
		<%= button_to "投稿", {controller: 'user_step_logs', action: 'new'}, {method: :get, class: "tweet"} %>
		<div><%=link_to "グループを作成する", new_group_path, class: "create-group" %> </div>
		<div><%= link_to "グループ一覧", groups_path, class: "group-index" %></div>
		<div class="search">
			<%= render "searches/search" %>
		</div>
	</div>
<% end %>
<% @user_step_logs.each do |log|%>
	<div class="content">
		<h5>歩数 : <%= log.steps %></h5>
		<h5>作成日時<%= log.created_at.strftime('%Y/%m/%d') %><h5>
		<div class="link">
			<div class="hensyu">
				<span><%= link_to "編集", "user_step_logs/#{log.id}/edit" %></span><br>
			</div>
			<div class="syosai">
				<span><%= link_to "詳細", "user_step_logs/#{log.id}" %></span><br>
			</div>
		</div>
		<h6>-----------------------------------------------------------------</h6>
	</div>
<%end%>
