
<div class="new">
	<span class="itiran">
		<%= link_to "投稿一覧へ", " /user_step_logs"%>
	</span>

	<div class="new_form">
		<%= form_with model: @user_step_log, local: true do |f|%>
			<div class="field">
				<%= f.label :steps, "歩数を入力してください" %></br>
				<%= f.text_field :steps%>
			</div>
			<div class="submit">
				<%= f.submit "投稿する"%>
			</div>
		<% end %>
	</div>
</div>