
<%= form_with model: @group, local: true do |f| %>
  <% if @group.errors.any? %>
    <div class="chat-group-form__errors">
      <h2><%= "#{group.errors.full_messages.count}件のエラーが発生しました。" %><h2>
      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %><li>
		<%end%>
      </ul>
    </div>
	<%end%>

	<div class="chat-group-form__field" >
    	<div class="chat-group-form__field--left">
    		<%= f.label :name, class: 'chat-group-form__label' %>
		</div>
		<div class="chat-group-form__field--right">
  	    	<%= f.text_field :name, class: 'chat__group_name chat-group-form__input', placeholder: 'グループ名を入力してください'%>
    	</div>
    </div>

	<div class="chat-group-form__field.clearfix">
		<div class="chat-group-form__field--left" >
		<div class="chat-group-form__field--right" >
		<%= f.submit class: 'chat-group-form__action-btn'%>
    	</div>
    	</div>
	</div>

<%end%>