  <%# <div class="chat-group-form__field" >
    <div class="chat-group-form__field--left">
      <%= f.label :name, class: 'chat-group-form__label'%>
    </div>
    <div class="chat-group-form__field--right">
      <%= f.text_field :name, class: 'chat__group_name chat-group-form__input', placeholder: 'グループ名を入力してください'%>
    </div>
  </div>
  <div class="chat-group-form__field.clearfix">
    <%# / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します %>
    <div class="chat-group-form__field.clearfix">
      <div class="chat-group-form__field--left">
        <%= label.chat-group-form__label{:for => "chat_group_チャットメンバー"} チャットメンバー %>
      </div>
      <div class="chat-group-form__field--right">
        <%# / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください %>
        <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
        <%# / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します %>
	  </div>
    </div>
  <div class="chat-group-form__field.clearfix">
    <div class="chat-group-form__field--left" >
    <div class="chat-group-form__field--right" >
      <%= f.submit class: 'chat-group-form__action-btn'%>
    </div>
    </div>
  </div> %>