<h1>MY LOGIN</h1>

<% if user_signed_in? %>
	<h2> <%= current_user.name %> さんがログインしています </h2>
	<h4> メールアドレス： <%= current_user.email %> </h4>
	<%= link_to "Log out", destroy_user_session_path, method: :delete %>
	<h4><%= link_to "Life_Log", new_user_step_log_path %></h4>
<% else %>
	<h2> 現在ログインしていません </h2>
	<%= link_to "ログイン", new_user_session_path, class: 'post' %> 
	<%= link_to "新規登録", new_user_registration_path, class: 'post' %> 
<% end %>
